@import "tailwindcss";

@font-face {
  font-family: "clash";
  src: url("/fonts/Clash_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rpg";
  src: url("/fonts/Rpg_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-clash {
  font-family: "clash", sans-serif;
}

.font-rpg {
  font-family: "rpg", sans-serif;
}

.font-pressstart {
  font-family: 'Press Start 2P', cursive;
}