@font-face {
  font-family: "clash";
  src: url("/fonts/Clash_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rpg";
  src: url("/fonts/Rpg_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

.font-clash {
  font-family: "clash", sans-serif;
}

.font-rpg {
  font-family: "rpg", sans-serif;
}
